PUBLIC_SITE_URL=https://feriados-brasil.vercel.app
PUBLIC_AUTHOR_NAME=Luís Henrique Wendt
PUBLIC_LINKEDIN_URL=https://linkedin.com/in/luishw
PUBLIC_GITHUB_URL=https://github.com/luishw12/feriados-app
