PUBLIC_SITE_URL=https://feriados.luishw.com.br
PUBLIC_AUTHOR_NAME=Luís Henrique Wendt
PUBLIC_LINKEDIN_URL=https://linkedin.com/in/luishw
PUBLIC_GITHUB_URL=https://github.com/luishw12/feriados-app
PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
GITHUB_TOKEN=github_pat_XXXXXXXXXX
GITHUB_REPO=luishw12/feriados-app
